@page "/"
@using ArcheryMAS.Enitites
@using ArcheryMAS.Migrations
@using ArcheryMAS.Service
@rendermode InteractiveServer
@inject PresidentService PresidentService

<style>
    
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 95vh;
        font-family: Arial, sans-serif;
        background-image: url('https://cdn.discordapp.com/attachments/911371400130994267/1251978703802728498/image.png?ex=66708b87&is=666f3a07&hm=f4d3fbffd3167562e8ac118762e535269d7bf629193698b1baafee95ad305f2b&');
        background-size: cover;
        background-position: center;
    }
    

    .header {
        align-self: flex-start;
        padding: 20px;
        font-size: 16px;
    }

    .title {
        margin: 20px 0;
        font-size: 24px;
        font-weight: bold;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 20px;
    }

    .button {
        padding: 10px 20px;
        background-color: rgb(89, 117, 55);
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 10px;
    }

    .button:hover {
        background-color: #367c39;
    }
    
    .president {
        font-size: 50px;
        color: black;
        padding: 20px;
        font-family: "Bebas Neue";
    }
    
    

</style>


@code {
    private President president;
    string presidentFullName;
    // string PresidentName = "Jan Kowalski";

    protected override async Task OnInitializedAsync()
    {
        president = await PresidentService.GetPresidentsAsync();
        if (president != null)
        {
            presidentFullName = $"{president?.Person_PESELNavigation.FullName}";
        }
        else
        {
            presidentFullName = "";
        }
    }

}

<PageTitle>LKS Łucznik Żywiec</PageTitle>
<div class="page-container">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <div class="president">
        Witaj, Prezesie @presidentFullName!
    </div>

    @* <div class="title"> *@
    @*     <h2>LKS ŁUCZNIK ŻYWIEC</h2> *@
    @* </div> *@

    <div class="buttons">
        <button class="button" onclick="location.href='/addcompetition1'">Dodaj zawody</button>
        <button class="button" onclick="location.href='/AddArcherssCompitions'">Dodaj zawodników</button>
        <button class="button">Edytuj zawodnika</button>
        <button class="button">Edytuj sprzęt</button>
    </div>
</div>

@code {
    // string PresidentName = "Jan Kowalski";
}